.navbar{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:center;
    align-items:center;

    position:fixed;
    top:0;
    left:0;
    z-index:1000;

    backdrop-filter:blur(12px);
    background:rgba(10,20,60,.7);
}

.navbar h1{
    color:white;
    font-size:2rem;
    font-weight:700;
}

@media(max-width:768px){

.navbar{
    padding:15px;
}

.navbar h1{
    font-size:1.4rem;
    text-align:center;
}

}