.navbar{

position:fixed;
top:0;
left:0;
right:0;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:rgba(0,0,0,.4);

backdrop-filter:blur(10px);

z-index:1000;

}

.logo{

color:white;

font-size:25px;

font-weight:bold;

}

ul{

display:flex;

list-style:none;

gap:30px;

}

a{

color:white;

text-decoration:none;

font-size:18px;

transition:.3s;

}

a:hover{

color:gold;

}