.particle{

position:fixed;

top:-20px;

width:12px;

height:12px;

border-radius:50%;

pointer-events:none;

z-index:1;

animation:fall linear forwards;

box-shadow:0 0 15px white;

}

@keyframes fall{

0%{

transform:translateY(-10vh) rotate(0deg);

}

100%{

transform:translateY(110vh) rotate(360deg);

}

}